
@import url('https://fonts.googleapis.com/css?family=Chango|Roboto');

body {background: #fffde7;} .header {width: 100%; height: fit-content; margin-bottom: 10px; padding: 10px; color: #fffde7; background: #000a12;}  h1.header-text {font-size: 50px; font-family: Chango;} a.repo-link {color: #fffde7;} a.repo-link:hover {color: #007bff;} h2, p {font-family: Roboto;}  span {color: #ff0000;} section {margin: 15px;} .form-group label.required:after {content:"*"; color:red;}